{% extends 'inventory/base.html' %}

{% block content %}
	<div>
		<a href="{% url 'dashboard' %}" class="btn btn-outline-primary my-3 mx-4">Go back</a>
		<div class="row">
			<form method="POST" class="col-sm-11 col-md-4 mx-auto mt-5">
				{% csrf_token %}
				<h1 class="fw-light">Are you sure you want to delete {{ item.name }}?</h1>
				<p class="fw-light">This cannot be undone</p>

				<div>
					<button class="btn btn-danger">Delete</button>
				</div>
			</form>
		</div>
	</div>
{% endblock content %}