<nav class="navbar navbar-expand-lg bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="{% url 'index' %}">Inventory Manager</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
			<ul class="navbar-nav">
				{% if user.is_authenticated %}
					<li class="nav-item">
						<a class="nav-link" href="#">{{ user.username }}</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="{% url 'logout' %}">Sign Out</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'login' %}">Sign In</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
					</li>
				{% endif %}

			</ul>
		</div>
	</div>
</nav>